@using WebApplication1.ViewModel
@model DepartmentUserViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var dept in Model.department)
    {
        <tr>
            <td>@dept.Id</td>
        </tr>


        <tr>
            <td colspan="2">
                <table class="table table-bordered table-success">
                    @{
                        var usersInDepartment = Model.user.
                        Where(u => u.DepartmentRefId == dept.Id).
                        ToList();
                    }
                    @if (!usersInDepartment.Any())
                    {
                        <tr><td class="text-danger">No Users Found</td></tr>
                    }
                    else
                    {
                        foreach (var userData in usersInDepartment)
                        {
                            <tr>
                                <td>@userData.Id</td>
                                <td>@userData.FirstName</td>
                                <td>@userData.LastName</td>
                                <td>@userData.DateOfBirth</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    }
</table>